<!DOCTYPE HTML>
 <head>
  <title>Blockgrid</title>
  <link rel="stylesheet" href="/CSS Documents/Blockgrid Style.css">
 </head>
 <body>
  <div style= "background-color: darkslategrey; width: 510px; height: 40px; margin-bottom: 10px;"></div>
  <div class= "wrapper">
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   <div></div>
   </div>
   <div style= "background-color: darkslategrey; width: 105px; height: 390px; position: relative; left: 405px; top: -120px;"></div>
   <div style= "background-color: #505810; width: 510px; height: 40px; position: relative; top: -110px;"></div>

  
  
   
 </body>